# Setup script
setup.sh

# Cadence Virtuoso
.cadence/

# EMX.
EMX_work/

# Log files
*.log
panic*.log.*

# OpenAccess database lock files
*.cdslck*

# Run directories for layout vs. schematic and design rule check
lvsRunDir/*
drcRunDir/*

# Abstract generation tool
abstract.log*
abstract.record*

# Cadence files.
.abstract
beol.drc.*
PIPO.*
.cadence
**/*.cdslck*
.calibreviewsetup
.tmp_*
libManager.log.*
abstract*
hdl.var
lefout.list
si.env
xOasisOut_cellMap.txt
**/*.oacache*
gui.tcl

# Python/IDE files.
*.pyc
__pycache__
venv

# PyCharm files.
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml

# Miscellaneous edit/log files.
*~
*.log
IPOPT.out
lsyncd.status
.ipython
.jupyter
.ipynb_checkpoints
.vscode


# PowerPoint autosave files
~$*
/tools/phobos_aureo
.DS_Store
